@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap');
@charset "utf-8";

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-black';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff'); /* Regular → Bold 파일로 교체 */
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-black';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 가로 스크롤 숨기기 */
  height: 100%;
  margin: 0;
}

body{
  width: 100%;
}

/*공통스타일*/
*{font-family: 'SUIT-Regular'; font-size: 16px; color: #f2f2f2; letter-spacing: -1px;   box-sizing: border-box; margin: 0; padding: 0; }
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd{margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
button{border: 0; background: none; cursor: pointer;}
.wrapper span{ font-family: 'SUIT-Regular'; font-size: 16px; font-weight: 400; }
html{ background-color: #111111; }


@media screen and (max-width:1000px) { nav{ width: 800px; } .gnb li{ width: 114px; } }

/*1. 인트로*/
@media screen and ( max-width:1199px ) {
  .visual_slide div{ width: 90%; height: 800px; margin: 0 5%; }
}
@media screen and (min-width:1200px) and (max-width:1599px){
  .visual_slide div{ width: 1150px; height: 800px; margin: 0 auto; }
}
@media screen and (min-width:1600px){
  .visual_slide div{ width: 1600px; height: 800px; margin: 0 auto; }
}

.visual{ height: 800px; overflow: hidden; display: flex; justify-content: center; align-items: center; flex-direction: column; }
.visual p{display: flex;  font-family: "Playfair Display", serif; font-size: 24px; margin-top: 30px ; margin-bottom: 30px; font-weight:400; }


/*비주얼영역 텍스트 타이핑*/

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');/* regular-400, medium-500, semibold-600, bold-700 */ 


*, :after, :before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

.typing-container span{ white-space: nowrap }

.typing-container span:first-child{
  font-size: clamp(45px, 5vw, 70px); /* 최소 45px, 동적 크기 5vw, 최대 70px */  font-weight:900;
  font-family: "Playfair Display", serif;
  margin: 20px;
  word-break:keep-all
}

#cursor {
  border-left: 5px solid #D73656; /* 커서 스타일 */
  animation: blink 0.7s infinite;
  display: inline-block;
  margin-left: 2px;
  height: 70px; /* 폰트 크기와 동일하게 설정 */
  vertical-align: middle; margin-top: -45px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*Resume 버튼*/
.uiverse {
  width: 150px;
  --duration: 7s;
  --easing: linear;
  --c-color-1: rgba(255, 163, 26, 0.7);
  --c-color-2: #1a23ff;
  --c-color-3: #e21bda;
  --c-color-4: rgba(255, 232, 26, 0.7);
  --c-shadow: rgba(255, 223, 87, 0.5);
  --c-shadow-inset-top: rgba(255, 223, 52, 0.9);
  --c-shadow-inset-bottom: rgba(255, 250, 215, 0.8);
  --c-radial-inner: #ffd215;
  --c-radial-outer: #fff172;
  --c-color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  cursor: pointer;
  border: none;
  display: table;
  border-radius: 24px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--c-color);
  background: radial-gradient(
    circle,
    var(--c-radial-inner),
    var(--c-radial-outer) 80%
  );
  box-shadow: 0 0 14px var(--c-shadow);
}

.uiverse:before {
  content: "";
  pointer-events: none;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  box-shadow:
    inset 0 3px 12px var(--c-shadow-inset-top),
    inset 0 -3px 4px var(--c-shadow-inset-bottom);
}

.uiverse .wrapper {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;
  border-radius: 24px;
  min-width: 132px;
  padding: 12px 0;
}

.uiverse .wrapper span {
  display: inline-block;
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 16px;         /* 기본 글자 크기 */
  font-weight: 600;        /* 굵기: semi-bold */
}

.uiverse:hover {
  --duration: 1400ms;
}

.uiverse .wrapper .circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: blur(var(--blur, 8px));
  background: var(--background, transparent);
  transform: translate(var(--x, 0), var(--y, 0)) translateZ(0);
  animation: var(--animation, none) var(--duration) var(--easing) infinite;
}

.uiverse .wrapper .circle.circle-1,
.uiverse .wrapper .circle.circle-9,
.uiverse .wrapper .circle.circle-10 {
  --background: var(--c-color-4);
}

.uiverse .wrapper .circle.circle-3,
.uiverse .wrapper .circle.circle-4 {
  --background: var(--c-color-2);
  --blur: 14px;
}

.uiverse .wrapper .circle.circle-5,
.uiverse .wrapper .circle.circle-6 {
  --background: var(--c-color-3);
  --blur: 16px;
}

.uiverse .wrapper .circle.circle-2,
.uiverse .wrapper .circle.circle-7,
.uiverse .wrapper .circle.circle-8,
.uiverse .wrapper .circle.circle-11,
.uiverse .wrapper .circle.circle-12 {
  --background: var(--c-color-1);
  --blur: 12px;
}

.uiverse .wrapper .circle.circle-1 {
  --x: 0;
  --y: -40px;
  --animation: circle-1;
}

.uiverse .wrapper .circle.circle-2 {
  --x: 92px;
  --y: 8px;
  --animation: circle-2;
}

.uiverse .wrapper .circle.circle-3 {
  --x: -12px;
  --y: -12px;
  --animation: circle-3;
}

.uiverse .wrapper .circle.circle-4 {
  --x: 80px;
  --y: -12px;
  --animation: circle-4;
}

.uiverse .wrapper .circle.circle-5 {
  --x: 12px;
  --y: -4px;
  --animation: circle-5;
}

.uiverse .wrapper .circle.circle-6 {
  --x: 56px;
  --y: 16px;
  --animation: circle-6;
}

.uiverse .wrapper .circle.circle-7 {
  --x: 8px;
  --y: 28px;
  --animation: circle-7;
}

.uiverse .wrapper .circle.circle-8 {
  --x: 28px;
  --y: -4px;
  --animation: circle-8;
}

.uiverse .wrapper .circle.circle-9 {
  --x: 20px;
  --y: -12px;
  --animation: circle-9;
}

.uiverse .wrapper .circle.circle-10 {
  --x: 64px;
  --y: 16px;
  --animation: circle-10;
}

.uiverse .wrapper .circle.circle-11 {
  --x: 4px;
  --y: 4px;
  --animation: circle-11;
}

.uiverse .wrapper .circle.circle-12 {
  --blur: 14px;
  --x: 52px;
  --y: 4px;
  --animation: circle-12;
}

@keyframes circle-1 {
  33% {
    transform: translate(0px, 16px) translateZ(0);
  }

  66% {
    transform: translate(12px, 64px) translateZ(0);
  }
}

@keyframes circle-2 {
  33% {
    transform: translate(80px, -10px) translateZ(0);
  }

  66% {
    transform: translate(72px, -48px) translateZ(0);
  }
}

@keyframes circle-3 {
  33% {
    transform: translate(20px, 12px) translateZ(0);
  }

  66% {
    transform: translate(12px, 4px) translateZ(0);
  }
}

@keyframes circle-4 {
  33% {
    transform: translate(76px, -12px) translateZ(0);
  }

  66% {
    transform: translate(112px, -8px) translateZ(0);
  }
}

@keyframes circle-5 {
  33% {
    transform: translate(84px, 28px) translateZ(0);
  }

  66% {
    transform: translate(40px, -32px) translateZ(0);
  }
}

@keyframes circle-6 {
  33% {
    transform: translate(28px, -16px) translateZ(0);
  }

  66% {
    transform: translate(76px, -56px) translateZ(0);
  }
}

@keyframes circle-7 {
  33% {
    transform: translate(8px, 28px) translateZ(0);
  }

  66% {
    transform: translate(20px, -60px) translateZ(0);
  }
}

@keyframes circle-8 {
  33% {
    transform: translate(32px, -4px) translateZ(0);
  }

  66% {
    transform: translate(56px, -20px) translateZ(0);
  }
}

@keyframes circle-9 {
  33% {
    transform: translate(20px, -12px) translateZ(0);
  }

  66% {
    transform: translate(80px, -8px) translateZ(0);
  }
}

@keyframes circle-10 {
  33% {
    transform: translate(68px, 20px) translateZ(0);
  }

  66% {
    transform: translate(100px, 28px) translateZ(0);
  }
}

@keyframes circle-11 {
  33% {
    transform: translate(4px, 4px) translateZ(0);
  }

  66% {
    transform: translate(68px, 20px) translateZ(0);
  }
}

@keyframes circle-12 {
  33% {
    transform: translate(56px, 0px) translateZ(0);
  }

  66% {
    transform: translate(60px, -32px) translateZ(0);
  }
}

/*2. container*/


/*2_1 skills*/
.skills {
  position: relative;
  background-image: url('../images/skills_img.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 90vh;
}

.skills_box h2{ padding-top: 80px;}

.skills::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(26, 26, 26, 0.5); /* #1a1a1a + 50% 투명도 */
  z-index: 1;
}


.skills > * {
  position: relative;
  z-index: 2; /* .skills 안에 들어가는 실제 콘텐츠는 z-index를 올려야 보임 */
}
.skills_box{  max-width: 1140px; margin: 0 auto; padding: 0 24px; margin-top: 100px;}
.skills_box ul{ display: flex; width: 100%; justify-content: center; flex-wrap: wrap; gap: 100px 150px;}

.skills h2{ font-family: 'SUIT-Regular'; font-size: 40px; font-weight: 900; margin-bottom: 50px;}

.skills_box img{ width: 50px; height: 50px; }



.skills_li {  /* 별찍기 */
  display: flex;
  align-items: center;
  gap: 40px; /* 아이콘과 텍스트/별 간격 */
  width: 260px;
}

.skill_text {
  display: flex;
  flex-direction: column;
  gap: 15px; /* 텍스트와 별 사이 간격 */
  margin-top: 10px;
}

.skill_text p{ font-family: 'SUIT-Regular' ; font-size: 20px; font-weight: 900; }

.star-rating {
  font-size: 20px;
  color: #ddd;
}

.star-rating .filled {
  color: #FFEA81;
  font-size: 20px;
}

/*2_2 portfolio*/
.portfolio {
  width: 100%;
  overflow: hidden;
}

.portfolio_box{  max-width: 1140px; margin: 0 auto; padding: 0 24px; margin-top: 200px; margin-bottom: 200px;}
.poltfolio_box ul{ display: flex; width: 100%; justify-content: center; flex-wrap: wrap; ;}

.portfolio h2{ font-family: 'SUIT-Regular'; font-size: 40px; font-weight: 900; margin-bottom: 50px;}

/*portfolio 카드뒤집히는 효과*/

#wrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.card {
  width: 325px;
  height: 310px;
  perspective: 1000px;
  position: relative;
  background: #111111;
  border: 0.5px solid rgba(255, 250, 215, 0.5);
  border-radius: 15px;
}

.card_box {
  transition: 0.3s;
  transform: none !important;
}


.card:hover .card_box {
  transform: none !important;
}

.front {
  display: flex;
  flex-direction: column;
  align-items: center; /* 콘텐츠 가운데 정렬 */
  padding: 20px 0;
  gap: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.95);
  border-radius: 15px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  pointer-events: none; /* hover 외 영역 클릭 막기 방지 */
}

.card:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

.overlay p:first-of-type {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 40px;
}

.overlay button {
  width: 280px;
  height: 60px;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  margin: 5px 0;
  background: none;
  color: #f2f2f2;
}

.overlay button:hover {
  background-color: #f2f2f2;
  color: #111111;
}

.front_wrap{ color: #f2f2f2; }
.front_text p{ width: 280px; margin-top: 22px; }
.front_text p:first-of-type{ font-weight: bold; font-size: 18px; }
.front_text p:last-of-type{ opacity: 0.6; }

.overlay{
  background: #111111;
  border: 0.5px solid rgba(255, 250, 215, 0.5);
}

.front img{ width: 280px; height: 160px; border-radius: 10px;  }

.back{ position: relative; display: flex; justify-content: center; flex-direction: column; align-items: center; }
.back p:first-of-type{ font-weight: bold; font-size: 18px; margin-bottom: 40px; }
.back button{ width: 280px; height:60px; border: 1px solid #f2f2f2; border-radius: 10px; transition: 0.1s; }
.back button:first-of-type{ margin-bottom: 10px; }
.back button:hover{ background-color: #f2f2f2; color: #111111; }

.portfolio_box2{ margin-top: 200px; }




/*카드뉴스*/

.portfolio_box3{ margin-top: 200px; }

.main{
  width: 100vw;
  margin: 0 auto;
  display: flex;
}


.main_bar {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  height: 430px;
  background-color: #00000052;
  flex: 1;
  transition: 0.5s ease-in-out;
  filter: brightness(0.4); /* 👈 기본 어둡게 설정 */
}

.main_bar.active {
  filter: brightness(1); /* 👈 첫 썸네일은 항상 밝게 */
  flex: 3; /* 👈 항상 크게 보이게 */
}

.main_bar:hover {
  filter: brightness(1); /* 👈 마우스 올리면 밝아짐 */
  flex: 3;
}

.main_bar.active:hover {
  flex: 3; /* 👈 첫 썸네일은 hover해도 크기 그대로 유지 */
}

.main_bar img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 비율 유지하며 채우기 (선택사항) */
}

.main_bar:hover {
  flex: 3;
}


.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  object-fit: contain;
}

/*블로그*/
.portfolio_box4{ margin-top: 310px; display: flex; align-items: flex-start;  margin-bottom: 310px;}
.portfolio_box4 p{ font-size: 20px; line-height: 32px;  }
.sub_btn{ display: flex; }
.sub_btn{
  width: 150px; height: 40px; background-color: #555555; border-radius: 24px; color: #ddd; font-weight: bold;
  padding: 12px 0;
  height: auto;
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 16px;         /* 기본 글자 크기 */
  font-weight: 600;        /* 굵기: semi-bold */
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.sub_btn:hover {
  background-color: #f2f2f2;    /* 밝아짐 */
  color: #111111;               /* 글자는 반대로 어둡게 */
  transition: 0.1s; 
}

.portfolio_box4 {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  align-items: center;
}
.poltfolio_box4 {
  flex: 1;
}

.wrap4_img{ width: 500px; }

.wrap4_img img {
  border-radius: 15px;
  flex-direction: row-reverse;
  width: 100%;         /* 부모 요소에 맞춰 늘어나고 줄어듬 */
  max-width: 600px; 
}

.wrap4_img {
  margin-left: auto; /* 오른쪽 끝으로 정렬 */
}



/*리플렛 영역 스크롤 애니메이션*/



.portfolio_box5 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.scroll_wrap {
  display: flex;
  width: 100%;
  gap: 30px;
}

.scroll-wrapper {
  width: 100%; /* 이미지 하나 너비 */
  overflow: hidden;
  border-radius: 20px;
}

.image-track {
  display: flex;
  height: 500px;
}

.image-track img {
  width: 100%; flex-shrink: 0; object-fit: cover;
}

.text-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #555555;
  border-radius: 20px;
  padding: 50px;
  height: 500px;
}

.text-box-wrap div{ font-family: 'SUIT-Regular'; font-size: 30px; font-weight: 900; margin-bottom: 190px; }

.text-content {
  display: none;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 15px;
}

.text-content.active {
  display: block;
}

.btns {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.text-btn {
  padding: 8px 12px;
  cursor: pointer;
  width: 70px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #838383;
}

.text-btn.active {
  background-color: #242424;
  color: #ddd;
  border: none;
}

.contact{ text-align: center; height: 50vw; display: flex; justify-content: center; align-items: center; vertical-align: middle; margin-top: -200px; }
.contact p:nth-of-type(1){ font-size: 60px; font-weight: 900; color: #555555; }
.contact p:nth-of-type(2){ line-height: 30px; margin-top: 60px; color: #f2f2f2; font-family: 'SUIT-Regular'; }

#footer{  
  height: 50px; line-height: 50px; font-size: 9px; 
  background: #111111; color: #f2f2f2; text-align: center;
  bottom: 0;

}

#footer>p:last-child{  border-top: 1px solid #555555; opacity: 0.2;}

.top_move{   position: fixed; right: 100px; bottom: 60px;  z-index: 10000; }
.top_move button{ width: 40px; height: 40px; background: #242424; color: #f2f2f2; border-radius: 5px;}
.top_move button:hover{ background: #f2f2f2; color: #242424; }



/* 2. 중간 사이즈 - 태블릿 등 (1024px 이하) */
@media (max-width: 1024px) {
  .container {
    font-size: 16px;
    max-width: 768px;
    padding: 0 20px;
  }

  .skills_box{  max-width: 1024px; margin: 0 auto; padding: 0 24px; margin-top: 100px; }

  .card:hover .overlay {
    opacity: 0 !important;
    pointer-events: none !important;
  }
  .card.active .overlay {
    opacity: 1 !important;
    pointer-events: auto !important;
  }

  .card{
    width: 280px;
    height: 310px;
  }

  .card_box img{ width: 240px }

  .front_text{ margin-left: 50px; }
  .overlay button{ width: 230px; }

  .portfolio_box3 .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 한 줄에 2개 */
    gap: 15px;
  }

  .portfolio_box3 .main_bar {
    flex: none !important;
    filter: brightness(1) !important; /* 항상 밝게 */
    transition: none !important;
    height: auto;
  }

  .portfolio_box3 .main_bar img {
    width: 100%;
    height: auto;
    display: block;
  }

  .portfolio_box4 p br {
    display: none;
  }

  .wrap4_img img{ width: 450px; }
  .scroll_wrap{ flex-direction: column; }
  .scroll-wrapper{ order: 2; }
  .scroll-wrapper{width: 100%;}
  .text-box{ order: 1; }
  .text-box-wrap{ height: 10px; margin-bottom: 50px;}
  .btns{ flex-direction: row; }
  
  
    

}







/* 3. 작은 화면 - 모바일 (480px 이하) */
@media (max-width: 720px) {

  .container {
    font-size: 16px;
    max-width: 768px;
    padding: 0 20px;
  }

  .skills_box{  max-width: 480px; margin: 0 auto; padding: 0 24px; margin-top: 100px;  }
  .portfolio{ margin-top: 500px; }
  .card:hover .overlay {
    opacity: 0 !important;
    pointer-events: none !important;
  }
  .card.active .overlay {
    opacity: 1 !important;
    pointer-events: auto !important;
  }

  .card{
    width: 610px;
    height: 310px;
  }
  .front{ flex-direction: row; }
  .front{  margin-top: 55px; padding-left: 20px;}
  
  #wrap{ flex-direction: column; gap: 20px; }
  .card{ margin: 0 auto; max-width: 520px; }

  .card_box img{ width: 240px }

  .front_text{ margin-left: 20px; }
  .overlay button{ width: 450px; height: 70px; }

  .portfolio_box3 .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 한 줄에 2개 */
    gap: 10px;
    max-width: 520px;
  }

  .portfolio_box3 .main_bar {
    flex: none !important;
    filter: brightness(1) !important; /* 항상 밝게 */
    transition: none !important;
    height: auto;
  }

  .portfolio_box3 .main_bar img {
    width: 100%;
    height: auto;
    display: block;
  }

  .portfolio_box4 p br {
    display: none;
  }

  .wrap4{ display: flex; justify-content: center; }
  .wrap4_img{ display: flex; justify-content: center; flex-direction: row; margin: 0 auto;  }
  .wrap4_img img{ width: 90vw; }
  .portfolio_box4{ flex-direction: column; }
  .scroll_wrap{ flex-direction: column; }
  .scroll-wrapper{ order: 2; }
  .scroll-wrapper{width: 100%;}
  .text-box{ order: 1; }
  .text-box-wrap{ height: 10px; margin-bottom: 50px;}
  .btns{ flex-direction: row; }
  
  /*모달*/
  

  


    
}
